---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "colors";
@import	"fonts";
@import "grid";	


h2{
	font-size: 24px;
}

h3{
	font-weight: 400;
}

h4{
	font-size: 16px;
}

p{
	font-weight: 200;
	font-size: 16px;
}


/***HEADER***/

.wrapper{
	background-color: $PrimaryColor;
	font-family: $HeaderFont;
	text-transform: uppercase;
	padding: 1em 0.5em 1em 0.5em;
	font-weight: 800;
	font-size: 32px;

	a{
		color: $HeaderFontColor;
		text-decoration: none;
	}
}

/***BODY ROW AND COLUMN***/

.whole-page-wrapper{
	overflow: hidden;
	background-color: $ContentColor;
}

/***CONTENT***/

.page-content{
	height: 44em;
	overflow-y: auto;
}

.content-wrapper{
	background-color: $ContentColor;
	font-family: $NavFont;
	color: $FontColor;
	float: left;
	padding: 1em;
}

/***SIDE NAV BAR***/

.trigger-wrapper{
	background-color: $SecondaryColor;
	font-family: $NavFont;
	font-size: 16px;
	padding: 2em 4em 1em 3em;
	height: 43em;
	text-align: left;
	float: left;

	a{
		color: $NavFontColor;
		text-decoration: none;
	}

}

.trigger{
	line-height: 3;
}


.page-link{
	display: block;
	border-bottom: 1px solid white;
}

/***JQUERY STYLING***/

%toggle{
	font-family: $NavFont;
	color: $FontColor;
	border-bottom: 1px solid $FontColor;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 0.2em;
	cursor: pointer;
}

.toggle1{
  @extend %toggle;
}

.toggle2{
	@extend %toggle;
}

.grid-css{
  display: none;
}

.grid-html{
  display: none;
}

/***BUTTONS***/

.button-wrap{
	overflow: hidden;
	width: 27em;
}

%button{
	color: $ButtonTextColor;
	padding: 1em 2em 1em 2em;
	width: 7em;
	text-align: center;
	border-radius: 6px;
}

.primary-button{
	@extend %button;
	background-color: $PrimaryButtonColor;
	border: 2px solid transparent;
	float: left;
}

.primary-button-hover{
	@extend %button;
	background-color: $PrimaryHoverColor;
	border: 2px solid transparent;
	float: right;
}

.secondary-button{
	@extend %button;
	background-color: $SecondaryButtonColor;
	border: 2px solid transparent;
	float: left;
}

.secondary-button-hover{
	@extend %button;
	background-color: $SecondaryHoverColor;
	border: 2px solid $SecondaryButtonColor;
	float: right;
}

/***LINKS***/

.a-link-example-wrap{
	background-color: $ContentColor;
	text-align: center;
	width: 15em;
}

.a-link{
	color: $FontColor;
}

.header-example{
	background-color: $PrimaryColor;
	text-align: center;
	width: 15em;
	padding: 1em 0 1em 0;
}

.a-header{
	color: $HeaderFontColor;
	text-decoration: none;
}

/***COLOR DISPLAY***/

%color-display{
	border-radius: 50%;
	border: 2px solid black;
	width: 7em;
	height: 7em;
	margin-left: 14em;
}

.color-display-red{
	@extend %color-display;
	background-color: $PrimaryColor;
}

.color-type{
	margin-left: 15.5em;
	color: $FontColor;
}
















