$PrimaryColor: #D9181F;
$SecondaryColor: #443939;
$ContentColor: #F2F2F0;
$FontColor: #47383B;
$PrimaryButtonColor: #00D6A9;
$PrimaryHoverColor: #00AB8D;
$HeaderFontColor: #F2F2F0;
$NavFontColor: #F2F2F0;
$ButtonTextColor: #F2F2F0;
$SecondaryButtonColor: #D9181F;
$SecondaryHoverColor: #47383B;