$PrimaryColor: #D9181F;

$SecondaryColor: #443939;

$ContentColor: #F2F2F0;

$FontColor: #47383B;

$PrimaryButtonColor: #00D6A9;

$PrimaryHoverColor: #00AB8D;

$SecondaryButtonColor: #47383B;

$SecondaryHoverColor: #D9181F;

$SecondaryButtonTextColor: #47383B;

$CardColor: #DAEEE8;

$CardAltColor: #C6EBE3;

$PassiveColor: #DFDFDD;


